*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.gal_nm {
    display: flex;
    justify-content: center;
    border: 1px solid#000;
    text-align: center;
    font-size: 50px;
    margin-top: 10px;
}

table {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

th, td {
    border: 1px solid#000;
    text-align: center;
    width: 100px;
    height: 50px;
}