*{box-sizing: border-box; padding: 0; margin: 0;}
html, body {height: 100%;}

#container {display: grid; grid-template-rows: 100px 1fr; min-height: 100vh;}
#container > header {background-color: rgb(141, 133, 241); display: flex; align-items: center; padding: 10px 20px;}

table {margin: auto;}
th, td {border-bottom: 1px solid #000;}
th {
    border-top: 3px solid skyblue;
    padding: 5px 20px;
    text-align: center;
}
td {text-align: center;}

h1 {
    text-align: center;
}

a {text-decoration: none;}

.circular__img {display: inline-block; overflow: hidden; border-radius: 50%;}
.circular__img img {width: 100%; height: 100%; object-fit: cover;}
.wh40 {width: 40px; height: 40px;}